.sections{
    width: 100%;
}
.profile{
    /* position: absolute; */
    /* left: 200%; */
    display: none;
}
.chat{
    /* position: absolute; */
    display: block;
}
.activeP{
    display: block;
}
.activeC{
    /* right:-200%; */
    display: none;
}




.navegation {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: -5px;
    width: 100%;
}

.navegation>ul {
    background-color: #FAD201;
    display: flex;
    list-style-type: none;
    /* position: fixed; */
    padding: 0;
    margin: 0;
    height: 60px;
}
.navegation li {
    /* background-color: transparent; */
    color: #000;
    cursor: pointer;
    font-weight:bold;
    border:none;
    flex: 1;
    padding: 10px;
    text-align: center;
}

.navegation ul li p {
    font-size: 12px;
    margin: 2px 0;
}
/*   
.navegation ul li:hover {
    color: aqua;
  } */