*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap');
body{
  background-color: #F6F7F9;
}
h1{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}
h2{
  font-family: 'Titillium Web', sans-serif;
}
p{
  font-family: 'Titillium Web', sans-serif;
}
a{
  font-family: 'Titillium Web', sans-serif;
  text-decoration: none;
  color: #000;

}
button{
  font-family: 'Titillium Web', sans-serif;
}
input{
  font-family: 'Titillium Web', sans-serif;
}
label{
  font-family: 'Titillium Web', sans-serif;
}